*{
    padding: 0;
    margin: 0
    box-sizing: border-box;
}


body{
    font-family:sans-serif;
    font-size: 15px
}

h1{
 color:#ad002f;
    font-size: 40px;
    margin-bottom: 20px
    
    }
h2{
 color:#556b2f;
    font-size: 20px;
    margin-bottom: 10px
       
}

.main-text{
    margin-bottom: 20px;
    text-align: justify
    
}
.container {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
